DataFrames \ 

Built on top of RDDs

    - In - memory, partitioned, rad-only & resilient \

Imposes a tabular structure on the data \

In [9]:
from pyspark.sql import SparkSession
from IPython.display import *


data_path = '../data/DataFiles/Raw/'
display(HTML('<style>pre {white-space: pre !important; }</style>'))

In [10]:
spark = (
    
            SparkSession
            .builder
            .appName('SparkCourse') 
            .master('local[*]') 
            .config('spark.dynamicAllocation.enabled', 'false')
            .config('spark.sql.adaptive.enabled', 'false')
            .getOrCreate()
    )

sc = spark.sparkContext

spark

In [11]:
data = [
    [1, 'Neha' ,10000],
    [2, 'Steve', 20000],
    [3, 'Kari', 30000],
    [4, 'Ivan', 40000],
    [5, 'Mohit', 50000],
]
    

employees_rdd = sc.parallelize(data)

In [12]:
employees_df =  employees_rdd.toDF(['id', 'name', 'salary'])

In [13]:
employees_df = (spark
                    .createDataFrame
                    (
                        data,
                        "id: long, name: string, salary: long"
                    ))

employees_df.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1| Neha| 10000|
|  2|Steve| 20000|
|  3| Kari| 30000|
|  4| Ivan| 40000|
|  5|Mohit| 50000|
+---+-----+------+

In [14]:
yellow_taxi_df = (
    spark
        .read
        .option('header', 'true')
        .option('inferSchema', 'true')
        .csv(path=(data_path 
            + 'YellowTaxis_202210.csv'))
            
)

In [ ]:
"""
Schema:

manually on prod not infer(dynamic)



(StructType([
    StructField('name', Type(), Nullable),
    ....
]))

"""

In [18]:
yellow_taxi_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [8]:
yellow_taxi_df.show(10, truncate=False)

+--------+-----------------------------+-----------------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime         |tpep_dropoff_datetime        |passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+-----------------------------+-----------------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|1       |2022-10-01T05:33:41.000+05:30|2022-10-01T05:48:39.000+05:30|1.0            |1.7          |1.0       |N                 |249         |107         |1           |9.5        |3.0  |0.5    |2.65      |0.0         |0.3                  |15.95       |2.5                 |0.0        |
|2       |2022-10-01T05:44:30.000+05:30|2022-10-01T05:49:48.000+05:30|2.0            |0.72         |1.0       |N                 |151         |238         |2           |5.5        |0.5  |0.5    |0.0       |0.0         |0.3                  |9.3         |2.5                 |0.0        |
|2       |2022-10-01T05:57:13.000+05:30|2022-10-01T06:07:41.000+05:30|1.0            |1.74         |1.0       |N                 |238         |166         |1           |9.0        |0.5  |0.5    |2.06      |0.0         |0.3                  |12.36       |0.0                 |0.0        |
|1       |2022-10-01T06:02:53.000+05:30|2022-10-01T06:08:55.000+05:30|0.0            |1.3          |1.0       |N                 |142         |239         |1           |6.5        |3.0  |0.5    |2.05      |0.0         |0.3                  |12.35       |2.5                 |0.0        |
|1       |2022-10-01T06:14:55.000+05:30|2022-10-01T06:20:21.000+05:30|0.0            |1.0          |1.0       |N                 |238         |166         |1           |6.0        |0.5  |0.5    |1.8       |0.0         |0.3                  |9.1         |0.0                 |0.0        |
|1       |2022-10-01T05:52:52.000+05:30|2022-10-01T06:22:14.000+05:30|1.0            |6.8          |1.0       |Y                 |186         |41          |2           |25.5       |3.0  |0.5    |0.0       |0.0         |0.3                  |29.3        |2.5                 |0.0        |
|2       |2022-10-01T06:03:19.000+05:30|2022-10-01T06:14:51.000+05:30|3.0            |1.88         |1.0       |N                 |162         |145         |2           |10.5       |0.5  |0.5    |0.0       |0.0         |0.3                  |14.3        |2.5                 |0.0        |
|1       |2022-10-01T05:32:42.000+05:30|2022-10-01T06:20:01.000+05:30|1.0            |12.2         |1.0       |N                 |100         |22          |1           |41.0       |3.0  |0.5    |3.0       |0.0         |0.3                  |47.8        |2.5                 |0.0        |
|2       |2022-10-01T05:36:35.000+05:30|2022-10-01T05:54:38.000+05:30|1.0            |7.79         |1.0       |N                 |138         |112         |1           |23.5       |0.5  |0.5    |4.96      |0.0         |0.3                  |31.01       |0.0                 |1.25       |
|2       |2022-10-01T05:59:25.000+05:30|2022-10-01T06:13:15.000+05:30|1.0            |4.72         |1.0       |N                 |145         |75          |1           |14.5       |0.5  |0.5    |1.5       |0.0         |0.3                  |19.8        |2.5                 |0.0        |
+--------+-----------------------------+-----------------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 10 rows

In [15]:
green_taxi_df = (
    spark
        .read
        .option('header', 'true')
        .option('inferSchema', 'true')
        .option('delimet', '\t')
        .csv(path=data_path
            + 'GreenTaxis_*.csv')
)

In [16]:
green_taxi_df.printSchema()

root
 |-- VendorId\tlpep_pickup_datetime\tlpep_dropoff_datetime\tpassenger_count\ttrip_distance\tRatecodeID\tstore_and_fwd_flag\tPULocationID\tDOLocationID\tpayment_type\tfare_amount\textra\tmta_tax\ttip_amount\ttolls_amount\timprovement_surcharge\ttotal_amount\tcongestion_surcharge\tairport_fee: string (nullable = true)