In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import IntegerType, TimestampType, DoubleType
from pyspark.sql.types import StructField, StructType, StringType

spark = (
    
            SparkSession
            .builder
            .appName('SparkCourse') 
            .master('local[*]') 
            .config('spark.dynamicAllocation.enabled', 'false')
            .config('spark.sql.adaptive.enabled', 'false')
            .enableHiveSupport()
            .getOrCreate()
    )

sc = spark.sparkContext

spark

In [3]:
data_path = '../data/'

In [4]:
taxi_schema = StructType([
    StructField('VendorID', IntegerType(), True),
    StructField('tpep_pickup_datetime', TimestampType(), True),
    StructField('tpep_dropoff_datetime', TimestampType(), True),
    StructField('passenger_count', DoubleType(), True),
    StructField('trip_distance', DoubleType(), True),
    StructField('RatecodeID', DoubleType(), True),
    StructField('store_and_fwd_flag', StringType(), True),
    StructField('PULocationID', IntegerType(), True),
    StructField('DOLocationID', IntegerType(), True),
    StructField('payment_type', IntegerType(), True),
    StructField('fare_amount', DoubleType(), True),
    StructField('extra', DoubleType(), True),
    StructField('mta_tax', DoubleType(), True),
    StructField('tip_amount', DoubleType(), True),
    StructField('tolls_amount', DoubleType(), True),
    StructField('improvement_surcharge', DoubleType(), True),
    StructField('total_amount', DoubleType(), True),
    StructField('congestion_surcharge', DoubleType(), True),
    StructField('airport_fee', DoubleType(), True),
])

In [5]:
yellow_taxi_df = (
    spark
        .read
        .option('header', 'true')
        .schema(taxi_schema)
        .csv(data_path + 'YellowTaxis_202210.csv')
)

In [6]:
green_taxi_df = (spark
                    .read
                    .option('header', 'true')
                    .option('delimiter', '\t')
                    .csv(data_path + 'GreenTaxis_202210.csv')
    )

green_taxi_df.createOrReplaceTempView('GreenTaxis')

In [7]:
green_taxi_df.printSchema()

root
 |-- VendorId: string (nullable = true)
 |-- lpep_pickup_datetime: string (nullable = true)
 |-- lpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)
 |-- airport_fee: string (nullable = true)

In [8]:
yellow_taxi_df.createOrReplaceTempView('YellowTaxis')

In [9]:
output_df = spark.sql(
    'SELECT * FROM YellowTaxis WHERE PULocationID=171'
)

In [10]:
output_df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2022-10-01 11:17:23|  2022-10-01 12:08:50|            1.0|          9.4|      99.0|                 N|         171|         263|           1|       35.2|  0.0|    0.5|       0.0|        6.55|                  0.3|       42.55|                 0.0|        0.0|
|       1| 2022-10-02 07:28:04|  2022-10-02 07:28:26|            2.0|          3.2|       5.0|                 Y|         171|         171|           2|       75.0|  0.0|    0.0|       0.0|         0.0|                  0.3|        75.3|                 0.0|        0.0|
|       1| 2022-10-02 11:48:08|  2022-10-02 12:09:53|            1.0|          0.0|      99.0|                 N|         171|         262|           1|       35.2|  0.0|    0.5|       0.0|        6.55|                  0.3|       42.55|                 0.0|        0.0|
|       1| 2022-10-02 12:10:11|  2022-10-02 12:55:13|            1.0|         10.0|      99.0|                 N|         171|          80|           1|       36.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        37.0|                 0.0|        0.0|
|       1| 2022-10-02 19:03:21|  2022-10-02 19:23:20|            1.0|          7.7|      99.0|                 N|         171|         258|           1|       31.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        32.0|                 0.0|        0.0|
|       1| 2022-10-03 11:18:22|  2022-10-03 11:55:15|            1.0|         13.1|      99.0|                 N|         171|         216|           1|       37.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        38.0|                 0.0|        0.0|
|       1| 2022-10-03 12:40:35|  2022-10-03 12:40:36|            1.0|          0.0|       1.0|                 N|         171|         171|           1|       15.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        16.0|                 0.0|        0.0|
|       1| 2022-10-04 14:27:24|  2022-10-04 14:56:22|            1.0|          6.8|      99.0|                 N|         171|         205|           1|       42.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        43.0|                 0.0|        0.0|
|       1| 2022-10-06 12:39:40|  2022-10-06 12:51:14|            1.0|          0.0|       1.0|                 N|         171|          92|           1|       15.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        16.0|                 0.0|        0.0|
|       1| 2022-10-06 14:56:02|  2022-10-06 15:03:01|            1.0|          0.7|      99.0|                 N|         171|          92|           1|       15.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        16.0|                 0.0|        0.0|
|       2| 2022-10-06 14:44:02|  2022-10-06 14:44:09|            2.0|          0.0|       2.0|                 N|         171|         171|           1|       52.0|  0.0|    0.5|       5.0|         0.0|                  0.3|       59.05|                 0.0|       1.25|
|       2| 2022-10-07 05:21:31|  2022-10-07 05:39:30|            5.0|          4.2|       1.0|                 N|         171|          28|           2|       16.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.8|                 0.0|        0.0|
|       2| 2022-10-08 07:17:20|  2022-10-08 07:17:30|            2.0|          0.0|       5.0|                 N|         171|         171|           1|       60.0|  0.0|    0.0|       0.0|         0.0|                  0.3|        60.3|                 0.0|        0.0|
|       1| 2022-10-08 11:54:28|  2022-10-08 12:25:33|            1.0|          9.1|      99.0|                 N|         171|         262|           1|       35.2|  0.0|    0.5|       0.0|        6.55|                  0.3|       42.55|                 0.0|        0.0|
|       2| 2022-10-08 14:25:13|  2022-10-08 15:02:01|            5.0|          6.3|       1.0|                 N|         171|           7|           2|       25.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        26.3|                 0.0|        0.0|
|       1| 2022-10-09 11:58:59|  2022-10-09 12:21:36|            1.0|          0.0|       1.0|                 N|         171|         263|           1|       35.2|  0.0|    0.5|       0.0|         0.0|                  0.3|        36.0|                 0.0|        0.0|
|       2| 2022-10-09 21:10:51|  2022-10-09 21:11:04|            3.0|          0.0|       5.0|                 N|         171|         171|           1|       55.0|  0.0|    0.0|       0.0|         0.0|                  0.3|        55.3|                 0.0|        0.0|
|       1| 2022-10-10 12:12:41|  2022-10-10 12:37:09|            1.0|         12.1|       1.0|                 N|         171|         263|           1|       34.0|  2.5|    0.5|     10.95|        6.55|                  0.3|        54.8|                 2.5|        0.0|
|       1| 2022-10-10 13:14:54|  2022-10-10 13:59:54|            1.0|          0.0|       1.0|                 N|         171|         162|           1|       45.2|  0.0|    0.5|       0.0|        6.55|                  0.3|       52.55|                 0.0|        0.0|
|       1| 2022-10-10 15:21:17|  2022-10-10 15:44:06|            1.0|          8.6|      99.0|                 N|         171|          74|           1|       33.2|  0.0|    0.5|       0.0|        6.55|                  0.3|       40.55|                 0.0|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [11]:
df_sql = spark.sql("""
    SELECT 'Yellow' AS TaxiType
          ,tpep_pickup_datetime AS PickupTime
          ,tpep_dropoff_datetime AS DropTime
          ,PULocationID AS PickupLoacationId
          ,DOLocationID AS DropLocationId

    FROM YellowTaxis
    
    UNION ALL
          
    SELECT 'Green' AS TaxiType
          ,lpep_pickup_datetime AS PickupTime
          ,lpep_dropoff_datetime AS DropTime
          ,PULocationID AS PickupLocationId
          ,DOLocationID AS DropLocationId
      FROM GreenTaxis
          """
)

In [12]:
df_sql.show(10, truncate=False)

+--------+-------------------+-------------------+-----------------+--------------+
|TaxiType|PickupTime         |DropTime           |PickupLoacationId|DropLocationId|
+--------+-------------------+-------------------+-----------------+--------------+
|Yellow  |2022-10-01 03:03:41|2022-10-01 03:18:39|249              |107           |
|Yellow  |2022-10-01 03:14:30|2022-10-01 03:19:48|151              |238           |
|Yellow  |2022-10-01 03:27:13|2022-10-01 03:37:41|238              |166           |
|Yellow  |2022-10-01 03:32:53|2022-10-01 03:38:55|142              |239           |
|Yellow  |2022-10-01 03:44:55|2022-10-01 03:50:21|238              |166           |
|Yellow  |2022-10-01 03:22:52|2022-10-01 03:52:14|186              |41            |
|Yellow  |2022-10-01 03:33:19|2022-10-01 03:44:51|162              |145           |
|Yellow  |2022-10-01 03:02:42|2022-10-01 03:50:01|100              |22            |
|Yellow  |2022-10-01 03:06:35|2022-10-01 03:24:38|138              |112           |
|Yellow  |2022-10-01 03:29:25|2022-10-01 03:43:15|145              |75            |
+--------+-------------------+-------------------+-----------------+--------------+
only showing top 10 rows

In [13]:
taxi_zones_schema = 'Location INT, Borough STRING, Zone STRING, ServiceZone STRING'

taxi_zones_df = (
    spark
        .read
        .schema(taxi_zones_schema)
        .csv(data_path + 'TaxiZones.csv')
)

taxi_zones_df.createOrReplaceGlobalTempView('TaxiZones')

taxi_zones_df.show()

23/08/19 21:10:32 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
23/08/19 21:10:32 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
23/08/19 21:10:40 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
23/08/19 21:10:40 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore raddy@127.0.1.1
23/08/19 21:10:40 WARN ObjectStore: Failed to get database default, returning NoSuchObjectException
23/08/19 21:10:41 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

+--------+-------------+--------------------+-----------+
|Location|      Borough|                Zone|ServiceZone|
+--------+-------------+--------------------+-----------+
|       1|          EWR|      Newark Airport|        EWR|
|       2|       Queens|         Jamaica Bay|  Boro Zone|
|       3|        Bronx|Allerton/Pelham G...|  Boro Zone|
|       4|    Manhattan|       Alphabet City|Yellow Zone|
|       5|Staten Island|       Arden Heights|  Boro Zone|
|       6|Staten Island|Arrochar/Fort Wad...|  Boro Zone|
|       7|       Queens|             Astoria|  Boro Zone|
|       8|       Queens|        Astoria Park|  Boro Zone|
|       9|       Queens|          Auburndale|  Boro Zone|
|      10|       Queens|        Baisley Park|  Boro Zone|
|      11|     Brooklyn|          Bath Beach|  Boro Zone|
|      12|    Manhattan|        Battery Park|Yellow Zone|
|      13|    Manhattan|   Battery Park City|Yellow Zone|
|      14|     Brooklyn|           Bay Ridge|  Boro Zone|
|      15|       Queens|Bay Terrace/Fort ...|  Boro Zone|
|      16|       Queens|             Bayside|  Boro Zone|
|      17|     Brooklyn|             Bedford|  Boro Zone|
|      18|        Bronx|        Bedford Park|  Boro Zone|
|      19|       Queens|           Bellerose|  Boro Zone|
|      20|        Bronx|             Belmont|  Boro Zone|
+--------+-------------+--------------------+-----------+
only showing top 20 rows

In [14]:
spark.sql(
    """
    SELECT Borough, TaxiType, COUNT(*) AS TotalTrips
    FROM global_temp.TaxiZones
    LEFT JOIN
    (
        SELECT 'Yellow' AS TaxiType, PULocationID FROM YellowTaxis
        UNION ALL
        SELECT 'Green' AS TaxiType, PULocationID FROM YellowTaxis
    ) AllTaxis
    ON AllTaxis.PULocationID = TaxiZones.Location
    GROUP BY Borough, TaxiType
    ORDER BY Borough, TaxiType

    """
).show()

+-------------+--------+----------+
|      Borough|TaxiType|TotalTrips|
+-------------+--------+----------+
|        Bronx|   Green|      4511|
|        Bronx|  Yellow|      4511|
|     Brooklyn|   Green|     28089|
|     Brooklyn|  Yellow|     28089|
|          EWR|   Green|      1157|
|          EWR|  Yellow|      1157|
|    Manhattan|    null|         2|
|    Manhattan|   Green|   3250695|
|    Manhattan|  Yellow|   3250695|
|       Queens|    null|         1|
|       Queens|   Green|    333922|
|       Queens|  Yellow|    333922|
|Staten Island|    null|         2|
|Staten Island|   Green|       303|
|Staten Island|  Yellow|       303|
|      Unknown|   Green|     56735|
|      Unknown|  Yellow|     56735|
+-------------+--------+----------+

In [16]:
spark.sql("""

    show databases
""").show()

+---------+
|namespace|
+---------+
|  default|
+---------+


CREATE SCHEMA:

prod - manually  
test - infer(dynamic) 

    (StructType([\
        StructField('name', Type(), Nullable),\
        ....\
    ]))

In [18]:
yellow_taxi_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [19]:
taxi_zones_df.printSchema()

root
 |-- Location: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- ServiceZone: string (nullable = true)

In [21]:
joined = (
    yellow_taxi_df.join(taxi_zones_df, 
        yellow_taxi_df.PULocationID == taxi_zones_df.Location,
        'inner')
)

In [24]:
16.99/30

0.5663333333333332

In [26]:
35.97/48

0.749375

In [23]:
joined.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------+---------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|Location|  Borough|                Zone|ServiceZone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------+---------+--------------------+-----------+
|       1| 2022-10-01 03:03:41|  2022-10-01 03:18:39|            1.0|          1.7|       1.0|                 N|         249|         107|           1|        9.5|  3.0|    0.5|      2.65|         0.0|                  0.3|       15.95|                 2.5|        0.0|     249|Manhattan|        West Village|Yellow Zone|
|       2| 2022-10-01 03:14:30|  2022-10-01 03:19:48|            2.0|         0.72|       1.0|                 N|         151|         238|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.3|                 2.5|        0.0|     151|Manhattan|    Manhattan Valley|Yellow Zone|
|       2| 2022-10-01 03:27:13|  2022-10-01 03:37:41|            1.0|         1.74|       1.0|                 N|         238|         166|           1|        9.0|  0.5|    0.5|      2.06|         0.0|                  0.3|       12.36|                 0.0|        0.0|     238|Manhattan|Upper West Side N...|Yellow Zone|
|       1| 2022-10-01 03:32:53|  2022-10-01 03:38:55|            0.0|          1.3|       1.0|                 N|         142|         239|           1|        6.5|  3.0|    0.5|      2.05|         0.0|                  0.3|       12.35|                 2.5|        0.0|     142|Manhattan| Lincoln Square East|Yellow Zone|
|       1| 2022-10-01 03:44:55|  2022-10-01 03:50:21|            0.0|          1.0|       1.0|                 N|         238|         166|           1|        6.0|  0.5|    0.5|       1.8|         0.0|                  0.3|         9.1|                 0.0|        0.0|     238|Manhattan|Upper West Side N...|Yellow Zone|
|       1| 2022-10-01 03:22:52|  2022-10-01 03:52:14|            1.0|          6.8|       1.0|                 Y|         186|          41|           2|       25.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        29.3|                 2.5|        0.0|     186|Manhattan|Penn Station/Madi...|Yellow Zone|
|       2| 2022-10-01 03:33:19|  2022-10-01 03:44:51|            3.0|         1.88|       1.0|                 N|         162|         145|           2|       10.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        14.3|                 2.5|        0.0|     162|Manhattan|        Midtown East|Yellow Zone|
|       1| 2022-10-01 03:02:42|  2022-10-01 03:50:01|            1.0|         12.2|       1.0|                 N|         100|          22|           1|       41.0|  3.0|    0.5|       3.0|         0.0|                  0.3|        47.8|                 2.5|        0.0|     100|Manhattan|    Garment District|Yellow Zone|
|       2| 2022-10-01 03:06:35|  2022-10-01 03:24:38|            1.0|         7.79|       1.0|                 N|         138|         112|           1|       23.5|  0.5|    0.5|      4.96|         0.0|                  0.3|       31.01|                 0.0|       1.25|     138|   Queens|   LaGuardia Airport|   Airports|
|       2| 2022-10-01 03:29:25|  2022-10-01 03:43:15|            1.0|         4.72|       1.0|                 N|         145|          75|           1|       14.5|  0.5|    0.5|       1.5|         0.0|                  0.3|        19.8|                 2.5|        0.0|     145|   Queens|Long Island City/...|  Boro Zone|
|       1| 2022-10-01 03:01:55|  2022-10-01 03:20:16|            1.0|          8.8|       1.0|                 N|         138|         236|           1|       26.0| 4.25|    0.5|      5.64|        6.55|                  0.3|       43.24|                 2.5|       1.25|     138|   Queens|   LaGuardia Airport|   Airports|
|       1| 2022-10-01 03:27:48|  2022-10-01 03:59:50|            1.0|          8.6|       1.0|                 N|         140|          36|           1|       29.5|  3.0|    0.5|       6.0|         0.0|                  0.3|        39.3|                 2.5|        0.0|     140|Manhattan|     Lenox Hill East|Yellow Zone|
|       1| 2022-10-01 03:05:27|  2022-10-01 03:35:33|            4.0|         12.0|       1.0|                 N|          70|         230|           2|       36.5|  3.0|    0.5|       0.0|        6.55|                  0.3|       46.85|                 2.5|        0.0|      70|   Queens|       East Elmhurst|  Boro Zone|
|       1| 2022-10-01 03:38:53|  2022-10-01 03:48:13|            2.0|          1.4|       1.0|                 N|         230|          68|           1|        8.5|  3.0|    0.5|      3.05|         0.0|                  0.3|       15.35|                 2.5|        0.0|     230|Manhattan|Times Sq/Theatre ...|Yellow Zone|
|       2| 2022-10-01 03:24:40|  2022-10-01 03:30:23|            1.0|         0.76|       1.0|                 N|          79|         113|           1|        5.5|  0.5|    0.5|      0.93|         0.0|                  0.3|       10.23|                 2.5|        0.0|      79|Manhattan|        East Village|Yellow Zone|
|       2| 2022-10-01 03:32:22|  2022-10-01 03:58:55|            1.0|          7.8|       1.0|                 N|         113|         116|           1|       26.5|  0.5|    0.5|      6.06|         0.0|                  0.3|       36.36|                 2.5|        0.0|     113|Manhattan|Greenwich Village...|Yellow Zone|
|       2| 2022-10-01 03:17:08|  2022-10-01 03:30:50|            2.0|          2.9|       1.0|                 N|          13|         249|           1|       12.0|  0.5|    0.5|       2.8|         0.0|                  0.3|        18.6|                 2.5|        0.0|      13|Manhattan|   Battery Park City|Yellow Zone|
|       2| 2022-10-01 03:32:14|  2022-10-01 03:44:35|            1.0|         1.71|       1.0|                 N|         249|          79|           1|        9.0|  0.5|    0.5|      2.56|         0.0|                  0.3|       15.36|                 2.5|        0.0|     249|Manhattan|        West Village|Yellow Zone|
|       2| 2022-10-01 03:09:24|  2022-10-01 03:21:45|            1.0|          2.3|       1.0|                 N|          48|         249|           1|       10.0|  0.5|    0.5|      2.76|         0.0|                  0.3|       16.56|                 2.5|        0.0|      48|Manhattan|        Clinton East|Yellow Zone|
|       2| 2022-10-01 03:22:29|  2022-10-01 03:33:53|            2.0|         1.67|       1.0|                 N|         249|         224|           1|        8.5|  0.5|    0.5|      2.46|         0.0|                  0.3|       14.76|                 2.5|        0.0|     249|Manhattan|        West Village|Yellow Zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------+---------+--------------------+-----------+
only showing top 20 rows

In [28]:
data = [
    ['Sales', 'Anna' ,8000],
    ['Marketing', 'Steve', 9500],
    ['Tech', 'Christina', 9000],
    ['Marketing', 'Neha', 10500],
    ['Tech', 'Kari', 10000],
    ['Sales', 'Ivan', 10000],
    ['Tech', 'Mohit', 8000],
]
    

#RDD
employees_rdd = sc.parallelize(data)

In [29]:
#DF
employees_df =  employees_rdd.toDF(['department', 'employee', 'salary'])

In [30]:
employees_df.show()

+----------+---------+------+
|department| employee|salary|
+----------+---------+------+
|     Sales|     Anna|  8000|
| Marketing|    Steve|  9500|
|      Tech|Christina|  9000|
| Marketing|     Neha| 10500|
|      Tech|     Kari| 10000|
|     Sales|     Ivan| 10000|
|      Tech|    Mohit|  8000|
+----------+---------+------+