DataFrames 

Built on top of RDDs

    - In - memory, partitioned, rad-only & resilient 

Imposes a tabular structure on the data

In [116]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import IntegerType
from IPython.display import *


data_path = '../data/'
display(HTML('<style>pre {white-space: pre !important; }</style>'))

In [117]:
spark = (
    
            SparkSession
            .builder
            .appName('SparkCourse') 
            .master('local[*]') 
            .config('spark.dynamicAllocation.enabled', 'false')
            .config('spark.sql.adaptive.enabled', 'false')
            .getOrCreate()
    )

sc = spark.sparkContext

spark

CREATE DF

In [118]:
data = [
    [1, 'Neha' ,10000],
    [2, 'Steve', 20000],
    [3, 'Kari', 30000],
    [4, 'Ivan', 40000],
    [5, 'Mohit', 50000],
]
    

#RDD
employees_rdd = sc.parallelize(data)

In [119]:
#DF
employees_df =  employees_rdd.toDF(['id', 'name', 'salary'])

In [120]:
employees_df = (spark
                    .createDataFrame
                    (
                        data,
                        "id: long, name: string, salary: long"
                    ))

employees_df.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1| Neha| 10000|
|  2|Steve| 20000|
|  3| Kari| 30000|
|  4| Ivan| 40000|
|  5|Mohit| 50000|
+---+-----+------+

READ DATA

In [122]:
taxi_cabs_df = spark.read.option('header', 'true').csv( data_path + 'Cabs.csv')

AGGREGATION

In [123]:
cabs_by_ws_df = taxi_cabs_df.groupBy('Website').count()

In [124]:
cabs_by_ws_df.show(10)

+--------------------+-----+
|             Website|count|
+--------------------+-----+
|WWW.ECONOMYCARSER...|    2|
|    WWW.AREASTWO.COM|    6|
|WWW.ACCREDITEDLIM...|    1|
|     WWW.VRWWINC.COM|    2|
|     WWW.CAR8888.COM|   57|
|         ZWEINYC.COM|   52|
|NEWTOENPRIVATECAR...|    1|
|WWW.CAPRICECARSER...|   17|
|      PARADALIMO.COM|    3|
|WWW.NYINSURANCEB.COM|   18|
+--------------------+-----+
only showing top 10 rows

In [125]:
cabs_by_ws_df_filtered = cabs_by_ws_df.where('Website=="ZWEINYC.COM"')

In [126]:
cabs_by_ws_df_filtered.show(10, truncate=False)

+-----------+-----+
|Website    |count|
+-----------+-----+
|ZWEINYC.COM|52   |
+-----------+-----+

In [127]:
yellow_taxi_df = (
    spark
        .read
        .option('header', 'true')
        .option('inferSchema', 'true')
        .csv(path=(data_path 
            + 'YellowTaxis_202210.csv'))
            
)


CREATE SCHEMA:

prod - manually  
test - infer(dynamic) 

    (StructType([\
        StructField('name', Type(), Nullable),\
        ....\
    ]))

In [129]:
yellow_taxi_df = (
    yellow_taxi_df
        .where('passenger_count > 0')
        .filter(F.col('trip_distance') > 0.0)
)

QUICK ANALYZE

In [130]:
yellow_taxi__analyze_df = (
    yellow_taxi_df.describe(
        'passenger_count',
        'trip_distance'
    ))

DROP NA

In [81]:
yellow_taxi_df = yellow_taxi_df.na.drop('all')

FILL NA

In [82]:
default_value_map = {
    'payment_type': 5,
    'RateCodeID': 1 
}

yellow_taxi_df = yellow_taxi_df.na.fill(default_value_map)

In [83]:
yellow_taxi_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = false)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [84]:
yellow_taxi_df = yellow_taxi_df.where(
    "tpep_pickup_datetime >= '2022-10-01' AND tpep_dropoff_datetime < '2022-11-01' "
)

In [85]:
yellow_taxi_df.count()

3414348

TRANSFORMATIONS

In [86]:
yellow_taxi_df = (
    yellow_taxi_df.select(
        'VendorID',
        F.col('passenger_count').cast(IntegerType()),
        F.column('trip_distance').alias('tripDistrance'),
        yellow_taxi_df.tpep_pickup_datetime,
        'tpep_dropoff_datetime',
        'PULocationID',
        'DOLocationID',
        'RatecodeID',
        'total_amount',
        'payment_type'
    )
)

In [114]:
yellow_taxi_df = (
    yellow_taxi_df.withColumn('TripYear', F.year(F.col('tpep_pickup_datetime')))
    .select(
        '*',
        F.expr('month(tpep_pickup_datetime) AS TripMonth'),
        F.dayofmonth(F.col('tpep_pickup_datetime')).alias('Tripday')
    )
)

In [115]:
yellow_taxi_df.show(10, truncate=False)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------+---------+-------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|TripYear|TripMonth|Tripday|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------+---------+-------+
|1       |2022-10-01 03:03:41 |2022-10-01 03:18:39  |1.0            |1.7          |1.0       |N                 |249         |107         |1           |9.5        |3.0  |0.5    |2.65      |0.0         |0.3                  |15.95       |2.5                 |0.0        |2022    |10       |1      |
|2       |2022-10-01 03:14:30 |2022-10-01 03:19:48  |2.0            |0.72         |1.0       |N                 |151         |238         |2           |5.5        |0.5  |0.5    |0.0       |0.0         |0.3                  |9.3         |2.5                 |0.0        |2022    |10       |1      |
|2       |2022-10-01 03:27:13 |2022-10-01 03:37:41  |1.0            |1.74         |1.0       |N                 |238         |166         |1           |9.0        |0.5  |0.5    |2.06      |0.0         |0.3                  |12.36       |0.0                 |0.0        |2022    |10       |1      |
|1       |2022-10-01 03:32:53 |2022-10-01 03:38:55  |0.0            |1.3          |1.0       |N                 |142         |239         |1           |6.5        |3.0  |0.5    |2.05      |0.0         |0.3                  |12.35       |2.5                 |0.0        |2022    |10       |1      |
|1       |2022-10-01 03:44:55 |2022-10-01 03:50:21  |0.0            |1.0          |1.0       |N                 |238         |166         |1           |6.0        |0.5  |0.5    |1.8       |0.0         |0.3                  |9.1         |0.0                 |0.0        |2022    |10       |1      |
|1       |2022-10-01 03:22:52 |2022-10-01 03:52:14  |1.0            |6.8          |1.0       |Y                 |186         |41          |2           |25.5       |3.0  |0.5    |0.0       |0.0         |0.3                  |29.3        |2.5                 |0.0        |2022    |10       |1      |
|2       |2022-10-01 03:33:19 |2022-10-01 03:44:51  |3.0            |1.88         |1.0       |N                 |162         |145         |2           |10.5       |0.5  |0.5    |0.0       |0.0         |0.3                  |14.3        |2.5                 |0.0        |2022    |10       |1      |
|1       |2022-10-01 03:02:42 |2022-10-01 03:50:01  |1.0            |12.2         |1.0       |N                 |100         |22          |1           |41.0       |3.0  |0.5    |3.0       |0.0         |0.3                  |47.8        |2.5                 |0.0        |2022    |10       |1      |
|2       |2022-10-01 03:06:35 |2022-10-01 03:24:38  |1.0            |7.79         |1.0       |N                 |138         |112         |1           |23.5       |0.5  |0.5    |4.96      |0.0         |0.3                  |31.01       |0.0                 |1.25       |2022    |10       |1      |
|2       |2022-10-01 03:29:25 |2022-10-01 03:43:15  |1.0            |4.72         |1.0       |N                 |145         |75          |1           |14.5       |0.5  |0.5    |1.5       |0.0         |0.3                  |19.8        |2.5                 |0.0        |2022    |10       |1      |
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+--------+---------+-------+
only showing top 10 rows

In [96]:
trip_time_in_second = F.unix_timestamp(F.col('tpep_dropoff_datetime')) - F.unix_timestamp(F.col('tpep_pickup_datetime'))

trip_time_in_minutes = F.round(trip_time_in_second)/60

yellow_taxi_df = (
    yellow_taxi_df.withColumn('TripTimeMinutes', trip_time_in_minutes)
)

In [97]:
yellow_taxi_df.show(10, truncate=False)

+--------+---------------+-------------+--------------------+---------------------+------------+------------+----------+------------+------------+--------+---------+-------+------------------+
|VendorID|passenger_count|tripDistrance|tpep_pickup_datetime|tpep_dropoff_datetime|PULocationID|DOLocationID|RatecodeID|total_amount|payment_type|TripYear|TripMonth|Tripday|TripTimeMinutes   |
+--------+---------------+-------------+--------------------+---------------------+------------+------------+----------+------------+------------+--------+---------+-------+------------------+
|1       |1              |1.7          |2022-10-01 03:03:41 |2022-10-01 03:18:39  |249         |107         |1.0       |15.95       |1           |2022    |10       |1      |14.966666666666667|
|2       |2              |0.72         |2022-10-01 03:14:30 |2022-10-01 03:19:48  |151         |238         |1.0       |9.3         |2           |2022    |10       |1      |5.3               |
|2       |1              |1.74         |2022-10-01 03:27:13 |2022-10-01 03:37:41  |238         |166         |1.0       |12.36       |1           |2022    |10       |1      |10.466666666666667|
|1       |1              |6.8          |2022-10-01 03:22:52 |2022-10-01 03:52:14  |186         |41          |1.0       |29.3        |2           |2022    |10       |1      |29.366666666666667|
|2       |3              |1.88         |2022-10-01 03:33:19 |2022-10-01 03:44:51  |162         |145         |1.0       |14.3        |2           |2022    |10       |1      |11.533333333333333|
|1       |1              |12.2         |2022-10-01 03:02:42 |2022-10-01 03:50:01  |100         |22          |1.0       |47.8        |1           |2022    |10       |1      |47.31666666666667 |
|2       |1              |7.79         |2022-10-01 03:06:35 |2022-10-01 03:24:38  |138         |112         |1.0       |31.01       |1           |2022    |10       |1      |18.05             |
|2       |1              |4.72         |2022-10-01 03:29:25 |2022-10-01 03:43:15  |145         |75          |1.0       |19.8        |1           |2022    |10       |1      |13.833333333333334|
|1       |1              |8.8          |2022-10-01 03:01:55 |2022-10-01 03:20:16  |138         |236         |1.0       |43.24       |1           |2022    |10       |1      |18.35             |
|1       |1              |8.6          |2022-10-01 03:27:48 |2022-10-01 03:59:50  |140         |36          |1.0       |39.3        |1           |2022    |10       |1      |32.03333333333333 |
+--------+---------------+-------------+--------------------+---------------------+------------+------------+----------+------------+------------+--------+---------+-------+------------------+
only showing top 10 rows

    -*unix_timestamp returns second

In [106]:
trip_type_column = (
    F.when(
        F.col('RatecodeID') == 6,
        'SharedTrip'
    ).otherwise('SoloTrip')
)

yellow_taxi_df = (
    yellow_taxi_df.withColumn('TripType', trip_type_column)
)

FUNC OVERVIEW \
    Date & TIME  
        - date_add, date_fromat, next_day, to_date \
        - current_timestamp, to_timestamp  \
    Mathematical  
        - round, ceil, floor, log, sqrt \
    String \
        - lower, upper, length, substring, trim, split \
    Array \
        - concat, array_contains, array_join, filter, explode \
    More \
        - when, least, greatest, isnull

In [107]:
yellow_taxi_df.where('TripType != "SoloTrip"').show()

+--------+---------------+-------------+--------------------+---------------------+------------+------------+----------+------------+------------+--------+---------+-------+-------------------+----------+
|VendorID|passenger_count|tripDistrance|tpep_pickup_datetime|tpep_dropoff_datetime|PULocationID|DOLocationID|RatecodeID|total_amount|payment_type|TripYear|TripMonth|Tripday|    TripTimeMinutes|  TripType|
+--------+---------------+-------------+--------------------+---------------------+------------+------------+----------+------------+------------+--------+---------+-------+-------------------+----------+
|       1|              1|          0.2| 2022-10-01 23:26:48|  2022-10-01 23:27:11|         138|         138|       6.0|         6.3|           2|    2022|       10|      1|0.38333333333333336|SharedTrip|
|       2|              1|         0.02| 2022-10-04 01:00:19|  2022-10-04 01:00:27|         181|          97|       6.0|        -6.3|           4|    2022|       10|      4|0.13333333333333333|SharedTrip|
|       2|              1|         0.02| 2022-10-04 01:00:19|  2022-10-04 01:00:27|         181|          97|       6.0|         6.3|           4|    2022|       10|      4|0.13333333333333333|SharedTrip|
|       2|              4|         0.53| 2022-10-04 15:38:28|  2022-10-04 15:51:12|         161|         161|       6.0|        5.05|           2|    2022|       10|      4| 12.733333333333333|SharedTrip|
|       2|              2|          0.4| 2022-10-12 16:01:48|  2022-10-12 16:04:28|          68|         100|       6.0|         8.3|           2|    2022|       10|     12| 2.6666666666666665|SharedTrip|
|       1|              1|         20.0| 2022-10-16 18:31:06|  2022-10-16 18:31:21|         132|         132|       6.0|        4.55|           3|    2022|       10|     16|               0.25|SharedTrip|
|       2|              1|         0.18| 2022-10-22 15:33:10|  2022-10-22 15:36:15|         211|         211|       6.0|        9.05|           1|    2022|       10|     22| 3.0833333333333335|SharedTrip|
|       2|              3|         0.77| 2022-10-22 16:23:38|  2022-10-22 16:28:30|         125|         113|       6.0|        7.05|           2|    2022|       10|     22|  4.866666666666666|SharedTrip|
|       1|              1|          0.1| 2022-10-23 08:10:47|  2022-10-23 08:10:57|         132|         132|       6.0|        5.55|           3|    2022|       10|     23|0.16666666666666666|SharedTrip|
|       2|              1|         0.09| 2022-10-23 20:30:19|  2022-10-23 20:31:46|          48|         230|       6.0|        7.05|           2|    2022|       10|     23|               1.45|SharedTrip|
|       2|              1|         0.14| 2022-10-24 00:34:17|  2022-10-24 00:35:37|         100|         164|       6.0|       12.06|           1|    2022|       10|     24| 1.3333333333333333|SharedTrip|
|       1|              1|          0.4| 2022-10-26 04:13:30|  2022-10-26 04:14:10|         130|         130|       6.0|         4.3|           4|    2022|       10|     26| 0.6666666666666666|SharedTrip|
|       1|              3|          0.6| 2022-10-27 00:58:13|  2022-10-27 01:03:54|         234|         137|       6.0|         3.3|           2|    2022|       10|     27|  5.683333333333334|SharedTrip|
+--------+---------------+-------------+--------------------+---------------------+------------+------------+----------+------------+------------+--------+---------+-------+-------------------+----------+

CHECK EXECUTION PLANS

In [109]:
yellow_taxi_df.explain( mode = 'extended')

### MODES - simple, codegen, cost, fromatted

== Parsed Logical Plan ==
'Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, TripYear#2101, TripMonth#2113, Tripday#2114, TripTimeMinutes#2293, CASE WHEN ('RatecodeID = 6) THEN SharedTrip ELSE SoloTrip END AS TripType#2576]
+- Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, TripYear#2101, TripMonth#2113, Tripday#2114, TripTimeMinutes#2293, CASE WHEN (VendorID#1890 = 6) THEN SharedTrip ELSE SoloTrip END AS TripType#2400]
   +- Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, TripYear#2101, TripMonth#2113, Tripday#2114, (cast(round((unix_timestamp(tpep_dropoff_datetime#1892, yyyy-MM-dd HH:mm:ss, Some(Europe/Bucharest), false) - unix_timestamp(tpep_pickup_datetime#1891, yyyy-MM-dd HH:mm:ss, Some(Europe/Bucharest), false)), 0) as double) / cast(60 as double)) AS TripTimeMinutes#2293]
      +- Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, TripYear#2101, TripMonth#2113, Tripday#2114, (cast(round((unix_timestamp(tpep_dropoff_datetime#1892, yyyy-MM-dd HH:mm:ss, Some(Europe/Bucharest), false) - unix_timestamp(tpep_pickup_datetime#1891, yyyy-MM-dd HH:mm:ss, Some(Europe/Bucharest), false)), 0) as double) / cast(60 as double)) AS TripTimeMinutes#2202]
         +- Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, TripYear#2101, month(cast(tpep_pickup_datetime#1891 as date)) AS TripMonth#2113, dayofmonth(cast(tpep_pickup_datetime#1891 as date)) AS Tripday#2114]
            +- Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, year(cast(tpep_pickup_datetime#1891 as date)) AS TripYear#2101]
               +- Project [VendorID#1890, cast(passenger_count#1893 as int) AS passenger_count#2090, trip_distance#1894 AS tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026]
                  +- Filter ((tpep_pickup_datetime#1891 >= cast(2022-10-01 as timestamp)) AND (tpep_dropoff_datetime#1892 < cast(2022-11-01 as timestamp)))
                     +- Project [VendorID#1890, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, passenger_count#1893, trip_distance#1894, coalesce(nanvl(RatecodeID#1895, cast(null as double)), cast(1 as double)) AS RatecodeID#2025, store_and_fwd_flag#1896, PULocationID#1897, DOLocationID#1898, coalesce(payment_type#1899, cast(5 as int)) AS payment_type#2026, fare_amount#1900, extra#1901, mta_tax#1902, tip_amount#1903, tolls_amount#1904, improvement_surcharge#1905, total_amount#1906, congestion_surcharge#1907, airport_fee#1908]
                        +- Filter atleastnnonnulls(1, VendorID#1890, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, passenger_count#1893, trip_distance#1894, RatecodeID#1895, store_and_fwd_flag#1896, PULocationID#1897, DOLocationID#1898, payment_type#1899, fare_amount#1900, extra#1901, mta_tax#1902, tip_amount#1903, tolls_amount#1904, improvement_surcharge#1905, total_amount#1906, congestion_surcharge#1907, airport_fee#1908)
                           +- Filter (trip_distance#1894 > 0.0)
                              +- Filter (passenger_count#1893 > cast(0 as double))
                                 +- Relation [VendorID#1890,tpep_pickup_datetime#1891,tpep_dropoff_datetime#1892,passenger_count#1893,trip_distance#1894,RatecodeID#1895,store_and_fwd_flag#1896,PULocationID#1897,DOLocationID#1898,payment_type#1899,fare_amount#1900,extra#1901,mta_tax#1902,tip_amount#1903,tolls_amount#1904,improvement_surcharge#1905,total_amount#1906,congestion_surcharge#1907,airport_fee#1908] csv

== Analyzed Logical Plan ==
VendorID: int, passenger_count: int, tripDistrance: double, tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int, RatecodeID: double, total_amount: double, payment_type: int, TripYear: int, TripMonth: int, Tripday: int, TripTimeMinutes: double, TripType: string
Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, TripYear#2101, TripMonth#2113, Tripday#2114, TripTimeMinutes#2293, CASE WHEN (RatecodeID#2025 = cast(6 as double)) THEN SharedTrip ELSE SoloTrip END AS TripType#2576]
+- Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, TripYear#2101, TripMonth#2113, Tripday#2114, TripTimeMinutes#2293, CASE WHEN (VendorID#1890 = 6) THEN SharedTrip ELSE SoloTrip END AS TripType#2400]
   +- Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, TripYear#2101, TripMonth#2113, Tripday#2114, (cast(round((unix_timestamp(tpep_dropoff_datetime#1892, yyyy-MM-dd HH:mm:ss, Some(Europe/Bucharest), false) - unix_timestamp(tpep_pickup_datetime#1891, yyyy-MM-dd HH:mm:ss, Some(Europe/Bucharest), false)), 0) as double) / cast(60 as double)) AS TripTimeMinutes#2293]
      +- Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, TripYear#2101, TripMonth#2113, Tripday#2114, (cast(round((unix_timestamp(tpep_dropoff_datetime#1892, yyyy-MM-dd HH:mm:ss, Some(Europe/Bucharest), false) - unix_timestamp(tpep_pickup_datetime#1891, yyyy-MM-dd HH:mm:ss, Some(Europe/Bucharest), false)), 0) as double) / cast(60 as double)) AS TripTimeMinutes#2202]
         +- Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, TripYear#2101, month(cast(tpep_pickup_datetime#1891 as date)) AS TripMonth#2113, dayofmonth(cast(tpep_pickup_datetime#1891 as date)) AS Tripday#2114]
            +- Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, year(cast(tpep_pickup_datetime#1891 as date)) AS TripYear#2101]
               +- Project [VendorID#1890, cast(passenger_count#1893 as int) AS passenger_count#2090, trip_distance#1894 AS tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026]
                  +- Filter ((tpep_pickup_datetime#1891 >= cast(2022-10-01 as timestamp)) AND (tpep_dropoff_datetime#1892 < cast(2022-11-01 as timestamp)))
                     +- Project [VendorID#1890, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, passenger_count#1893, trip_distance#1894, coalesce(nanvl(RatecodeID#1895, cast(null as double)), cast(1 as double)) AS RatecodeID#2025, store_and_fwd_flag#1896, PULocationID#1897, DOLocationID#1898, coalesce(payment_type#1899, cast(5 as int)) AS payment_type#2026, fare_amount#1900, extra#1901, mta_tax#1902, tip_amount#1903, tolls_amount#1904, improvement_surcharge#1905, total_amount#1906, congestion_surcharge#1907, airport_fee#1908]
                        +- Filter atleastnnonnulls(1, VendorID#1890, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, passenger_count#1893, trip_distance#1894, RatecodeID#1895, store_and_fwd_flag#1896, PULocationID#1897, DOLocationID#1898, payment_type#1899, fare_amount#1900, extra#1901, mta_tax#1902, tip_amount#1903, tolls_amount#1904, improvement_surcharge#1905, total_amount#1906, congestion_surcharge#1907, airport_fee#1908)
                           +- Filter (trip_distance#1894 > 0.0)
                              +- Filter (passenger_count#1893 > cast(0 as double))
                                 +- Relation [VendorID#1890,tpep_pickup_datetime#1891,tpep_dropoff_datetime#1892,passenger_count#1893,trip_distance#1894,RatecodeID#1895,store_and_fwd_flag#1896,PULocationID#1897,DOLocationID#1898,payment_type#1899,fare_amount#1900,extra#1901,mta_tax#1902,tip_amount#1903,tolls_amount#1904,improvement_surcharge#1905,total_amount#1906,congestion_surcharge#1907,airport_fee#1908] csv

== Optimized Logical Plan ==
Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, TripYear#2101, TripMonth#2113, Tripday#2114, TripTimeMinutes#2293, CASE WHEN (RatecodeID#2025 = 6.0) THEN SharedTrip ELSE SoloTrip END AS TripType#2576]
+- Project [VendorID#1890, cast(passenger_count#1893 as int) AS passenger_count#2090, trip_distance#1894 AS tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, coalesce(nanvl(RatecodeID#1895, null), 1.0) AS RatecodeID#2025, total_amount#1906, coalesce(payment_type#1899, 5) AS payment_type#2026, year(cast(tpep_pickup_datetime#1891 as date)) AS TripYear#2101, month(cast(tpep_pickup_datetime#1891 as date)) AS TripMonth#2113, dayofmonth(cast(tpep_pickup_datetime#1891 as date)) AS Tripday#2114, (cast(round((unix_timestamp(tpep_dropoff_datetime#1892, yyyy-MM-dd HH:mm:ss, Some(Europe/Bucharest), false) - unix_timestamp(tpep_pickup_datetime#1891, yyyy-MM-dd HH:mm:ss, Some(Europe/Bucharest), false)), 0) as double) / 60.0) AS TripTimeMinutes#2293]
   +- Filter ((((isnotnull(passenger_count#1893) AND isnotnull(trip_distance#1894)) AND isnotnull(tpep_pickup_datetime#1891)) AND isnotnull(tpep_dropoff_datetime#1892)) AND (((passenger_count#1893 > 0.0) AND (trip_distance#1894 > 0.0)) AND ((atleastnnonnulls(1, VendorID#1890, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, passenger_count#1893, trip_distance#1894, RatecodeID#1895, store_and_fwd_flag#1896, PULocationID#1897, DOLocationID#1898, payment_type#1899, fare_amount#1900, extra#1901, mta_tax#1902, tip_amount#1903, tolls_amount#1904, improvement_surcharge#1905, total_amount#1906, congestion_surcharge#1907, airport_fee#1908) AND (tpep_pickup_datetime#1891 >= 2022-10-01 00:00:00)) AND (tpep_dropoff_datetime#1892 < 2022-11-01 00:00:00))))
      +- Relation [VendorID#1890,tpep_pickup_datetime#1891,tpep_dropoff_datetime#1892,passenger_count#1893,trip_distance#1894,RatecodeID#1895,store_and_fwd_flag#1896,PULocationID#1897,DOLocationID#1898,payment_type#1899,fare_amount#1900,extra#1901,mta_tax#1902,tip_amount#1903,tolls_amount#1904,improvement_surcharge#1905,total_amount#1906,congestion_surcharge#1907,airport_fee#1908] csv

== Physical Plan ==
*(1) Project [VendorID#1890, passenger_count#2090, tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, RatecodeID#2025, total_amount#1906, payment_type#2026, TripYear#2101, TripMonth#2113, Tripday#2114, TripTimeMinutes#2293, CASE WHEN (RatecodeID#2025 = 6.0) THEN SharedTrip ELSE SoloTrip END AS TripType#2576]
+- *(1) Project [VendorID#1890, cast(passenger_count#1893 as int) AS passenger_count#2090, trip_distance#1894 AS tripDistrance#2089, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, PULocationID#1897, DOLocationID#1898, coalesce(nanvl(RatecodeID#1895, null), 1.0) AS RatecodeID#2025, total_amount#1906, coalesce(payment_type#1899, 5) AS payment_type#2026, year(cast(tpep_pickup_datetime#1891 as date)) AS TripYear#2101, month(cast(tpep_pickup_datetime#1891 as date)) AS TripMonth#2113, dayofmonth(cast(tpep_pickup_datetime#1891 as date)) AS Tripday#2114, (cast(round((unix_timestamp(tpep_dropoff_datetime#1892, yyyy-MM-dd HH:mm:ss, Some(Europe/Bucharest), false) - unix_timestamp(tpep_pickup_datetime#1891, yyyy-MM-dd HH:mm:ss, Some(Europe/Bucharest), false)), 0) as double) / 60.0) AS TripTimeMinutes#2293]
   +- *(1) Filter ((((((((isnotnull(passenger_count#1893) AND isnotnull(trip_distance#1894)) AND isnotnull(tpep_pickup_datetime#1891)) AND isnotnull(tpep_dropoff_datetime#1892)) AND (passenger_count#1893 > 0.0)) AND (trip_distance#1894 > 0.0)) AND atleastnnonnulls(1, VendorID#1890, tpep_pickup_datetime#1891, tpep_dropoff_datetime#1892, passenger_count#1893, trip_distance#1894, RatecodeID#1895, store_and_fwd_flag#1896, PULocationID#1897, DOLocationID#1898, payment_type#1899, fare_amount#1900, extra#1901, mta_tax#1902, tip_amount#1903, tolls_amount#1904, improvement_surcharge#1905, total_amount#1906, congestion_surcharge#1907, airport_fee#1908)) AND (tpep_pickup_datetime#1891 >= 2022-10-01 00:00:00)) AND (tpep_dropoff_datetime#1892 < 2022-11-01 00:00:00))
      +- FileScan csv [VendorID#1890,tpep_pickup_datetime#1891,tpep_dropoff_datetime#1892,passenger_count#1893,trip_distance#1894,RatecodeID#1895,store_and_fwd_flag#1896,PULocationID#1897,DOLocationID#1898,payment_type#1899,fare_amount#1900,extra#1901,mta_tax#1902,tip_amount#1903,tolls_amount#1904,improvement_surcharge#1905,total_amount#1906,congestion_surcharge#1907,airport_fee#1908] Batched: false, DataFilters: [isnotnull(passenger_count#1893), isnotnull(trip_distance#1894), isnotnull(tpep_pickup_datetime#1..., Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/raddy/projects/DataLab/data/YellowTaxis_202210.csv], PartitionFilters: [], PushedFilters: [IsNotNull(passenger_count), IsNotNull(trip_distance), IsNotNull(tpep_pickup_datetime), IsNotNull..., ReadSchema: struct<VendorID:int,tpep_pickup_datetime:timestamp,tpep_dropoff_datetime:timestamp,passenger_coun...

HANDLING CORRUPT DATA

In [140]:
rates_codes_json_df = (
    spark.read
    #.option('mode', 'PERMISSIVE')
    #.option('mode', 'FAILFAST')
    .option('mode', 'DROPMALFORMED')
    .option('columnNameOfCorruptRecord', 'CorruptData')
    .json(data_path + 'RateCodes.json')
)

In [141]:
rates_codes_json_df.show(truncate=False)

+---------------+----------+
|RateCode       |RateCodeID|
+---------------+----------+
|Standard rate  |1         |
|JFK            |2         |
|Newark         |3         |
|Negotiated fare|5         |
|Group ride     |6         |
+---------------+----------+

DATA TO FILES

In [144]:
yellow_taxi_df

DataFrame[VendorID: int, tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, passenger_count: double, trip_distance: double, RatecodeID: double, store_and_fwd_flag: string, PULocationID: int, DOLocationID: int, payment_type: int, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double, congestion_surcharge: double, airport_fee: double]

In [145]:
yellow_taxi_df.rdd.getNumPartitions()

8

In [146]:
yellow_taxi_df = yellow_taxi_df.coalesce(1)

In [147]:
yellow_taxi_df.rdd.getNumPartitions()

1

In [148]:
(
    yellow_taxi_df
        .write
        #.partitionBy('column')
        .option('header', 'true')
        .option('dateFormat', 'yyyy-MM-dd HH:mm:ss.S')
        .mode('overwrite') # options - Append, ErroIfExists, Ignore(do nothing if exists)
        .csv(data_path + 'results/yellow_taxi_out.csv')
)